server:
  port: 8080
  servlet:
    context-path: /api
  compression:
    enabled: true
    min-response-size: 10240
    mime-types:
      - application/json
      - application/xml
      - text/html
      - text/xml
      - text/plain
      - text/css
      - application/javascript
spring:
  application:
    name: base21
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB
  jackson:
    time-zone: Asia/Ho_Chi_Minh
  datasource:
    url: jdbc:mysql://localhost:3306/test
    username: root
    password: 123456
    hikari:
      maximum-pool-size: 20
      minimum-idle: 2
      idle-timeout: 60000
      connection-timeout: 30000
      auto-commit: false
      max-lifetime: 1800000
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          batch_size: 1000
          batch_versioned_data: true
        order_updates: true
        enable_dirty_tracking: false
        format_sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        retry:
          enabled: true
          initial-interval: 1000ms
          max-interval: 5000ms
          multiplier: 2
          max-retries: 3
        concurrency: 1
        max-concurrency: 5
        default-requeue-rejected: false
    queue:
      name: demo_queue
    exchange:
      name: demo_exchange
    routing:
      key: demo_routing_key

jwt:
  secret: HMie6mCBoggM7emvLSV2v4/N+mp++S7ZK9hs83RqUkdqF6RhWFWonqaahlliZA0DxRO5hp/wzmPrBw8KTHU0Eg==
  expiration: 86400000